.board_task {
  touch-action: manipulation;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 260px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  transition-property: border-color, box-shadow, background-colo;
  transition-duration: 0.3s;
  position: relative;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.board_task:hover {
  border-color: rgba(0, 0, 0, .2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.board_task_content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.board_task_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.board_task_checkbox {
  margin-right: 5px;
}

.board_task_detail_meta {
  flex: 1;
  min-width: 0;
  position: relative;
}

.board_task_detail {
  min-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.board_task_detail_content {
  position: relative;
  overflow: hidden;
  padding-top: 2px;
  padding-right: 28px;
}

.board_task_detail_name {
  position: relative;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  overflow: hidden;
}

.board_task_detail_description {
  overflow-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 12px;
  display: -webkit-box;
  overflow: hidden;
  color: #666666;
}

.board_task_detail_action {
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 12px;
  transition: background-image 0.3s;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.board_task_meta {
  display: flex;
  align-items: center;
  padding-top: 8px;
  position: relative;
  min-height: 16px;
  flex-wrap: wrap;
}

.due_date_button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 4px;
  height: 16px;
  cursor: pointer;
}

.due_date_button_text {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-overflow: ellipsis;
  display: inline-flex;
  overflow: hidden;
  color: oklch(66.6% 0.179 58.318);
}
