.board_view_section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: flex-start;
  display: flex;
  overflow-x: auto;
  cursor: grab;
}

.board_section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;
  max-height: 100%;
  margin-right: 8px;
  position: relative;
}

.board_section_header {
  display: flex;
  justify-content: space-between;
	height: 44px;
	padding: 0px 8px;
}

.board_section_info {
  display: flex;
	align-items: center;
}

.board_section_actions {
	display: flex;
	align-items: center;
}

.board_item_list {
  box-sizing: border-box;
	flex-shrink: 1;
  padding: 0px 8px;
	overflow-x: hidden;
	overflow-y: auto;
}

.board_section_footer {
  min-height: 44px;
  box-sizing: border-box;
  padding: 0 8px;
  transition: border-top-color .3s;
  flex: none;
  display: flex;
}