/* src/styles/global.css */
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" var(--font-width);
}

/* ตัวอย่างคลาสสำหรับ weight ที่แตกต่าง */
.roboto-light {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-light);
}

.roboto-bold {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}