.layout_options_button {
  height: 32px;
  min-width: 47px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout_options_button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.layout_options_button svg {
  font-size: 24px;
}

.layout_options_modal {
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  right: 0;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.layout_options_content {
  padding: 4px;
}

.layout_options_header {
  padding-inline: 6px;
}

.layout_options_title {
  font-size: 13px;
  font-weight: 600;
}

.layout_options_type {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #f5f5f5;
  gap: 1px;
}

.layout_options_type_item {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  color: #666;
  text-align: center;
  border: 1px solid transparent;
  margin: 2px;
}

.layout_options_type_item input[type="radio"] {
  display: none;
}

.layout_options_type_item input[type="radio"]:checked + .type_item {
  background: white;
  border-radius: 10px;
  color: black;
}

.layout_options_type_item .type_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 12px;
  gap: 4px;
  padding: 4px 4px 8px;
}

.layout_options_type_item .type_item svg {
  font-size: 24px;
}

.layout_options_type_item input[type="radio"]:checked + .type_item {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 4px 4px 8px;
}

.layout_options_type_item input[type="radio"]:hover + .type_item {
  border-radius: 5px;
  color: #000;
  padding: 4px 4px 8px;
}
